.card {
  background-color:#f6d9be  ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  width: 280px;
  margin-left: 43%;
  margin-top: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.card-text:first-of-type {
  margin-top: 1rem;
}

.card-text:last-of-type {
  margin-bottom: 1rem;
}